<form [formGroup]="purchaseRegisterSearchForm">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-4">
          <label>Vendor</label>
          <p-dropdown
            id="vendorIdList"
            [options]="vendorList"
            formControlName="vendorIdList"
            dataKey="id"
            inputId="id"
            placeholder="Select Vendor"
            optionLabel="name"
            appendTo="body"
            [style]="{ width: '100%', height: '40px' }"
            showClear="true"
          >
          </p-dropdown>
        </div>
        <div class="form-group col-sm-4">
          <label>Weigh Bridge No.</label>
          <input
            class="form-control"
            name="weighBridgeNoList"
            id="weighBridgeNoList"
            type="text"
            formControlName="weighBridgeNoList"
            style="width: 100%"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-primary btn-sm btm-space float-right"
            (click)="getPurchaseRegister()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<p-messages [(value)]="messages"></p-messages>

<cui-grid
  [values]="purchaseRegisterDTOList"
  [options]="purchaseRegisterOptions"
></cui-grid>

<p-dialog [(visible)]="purchaseRegisterDialogVisibilty" [width]="500">
  <p-header>
    Purchase Register
  </p-header>
  <form [formGroup]="purchaseRegisterForm">
    <div class="form-group">
      <label for="vendorDTOId">Vendor</label>
      <p-dropdown
        id="vendorDTOId"
        [options]="vendorList"
        formControlName="vendorDTOId"
        dataKey="id"
        inputId="id"
        placeholder="Select Vendor"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
      >
      </p-dropdown>
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('vendorDTOId').errors &&
          (getControl('vendorDTOId').dirty || getControl('vendorDTOId').touched)
        "
      >
        <p *ngIf="getControl('vendorDTOId').errors.required">
          Vendor is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="weighBridgeNo">Weigh Bridge No.</label>
      <input
        class="form-control"
        name="weighBridgeNo"
        id="weighBridgeNo"
        type="text"
        formControlName="weighBridgeNo"
        style="width: 100%"
      />
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('weighBridgeNo').errors &&
          (getControl('weighBridgeNo').dirty ||
            getControl('weighBridgeNo').touched)
        "
      >
        <p *ngIf="getControl('weighBridgeNo').errors.required">
          Weigh Bridge No. is required
        </p>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="btn-toolbar">
      <button
        class="btn btn-sm btn-success"
        type="button"
        [disabled]="purchaseRegisterForm.invalid"
        (click)="savePurchaseRegister()"
      >
        <i class="pi pi-save">Save</i>
      </button>
      <button
        class="btn btn-sm btn-default"
        type="button"
        (click)="cancelPurchaseRegister()"
      >
        <i class="pi pi-times">Cancel</i>
      </button>
    </div>
  </p-footer>
</p-dialog>
