<form [formGroup]="elementSearchForm">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-4">
          <label>Project</label>
          <p-dropdown
            id="projectIdList"
            [options]="projectDTOList"
            formControlName="projectIdList"
            dataKey="id"
            inputId="id"
            placeholder="Select Project"
            optionLabel="name"
            appendTo="body"
            [style]="{ width: '100%', height: '40px' }"
            showClear="true"
          >
          </p-dropdown>
        </div>
        <div class="form-group col-sm-4">
          <label>Element Type</label>
          <p-dropdown
            id="elementTypeIdList"
            [options]="elementTypeDTOList"
            formControlName="elementTypeIdList"
            dataKey="id"
            inputId="id"
            placeholder="Select Type"
            optionLabel="name"
            appendTo="body"
            [style]="{ width: '100%', height: '40px' }"
            showClear="true"
          >
          </p-dropdown>
        </div>
        <div class="form-group col-sm-4">
          <label for="floorList">Floor</label>
          <input
            class="form-control"
            name="floorList"
            id="floorList"
            type="text"
            formControlName="floorList"
            style="width: 100%"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-primary btn-sm btm-space float-right"
            (click)="getElement()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<p-messages [(value)]="messages"></p-messages>

<cui-grid [values]="elementDTOList" [options]="elementOptions"></cui-grid>

<p-dialog [(visible)]="elementDialogVisibilty" [width]="500">
  <p-header>
    Create
  </p-header>
  <form [formGroup]="elementForm">
    <div class="form-group">
      <label for="projectId">Project</label>
      <p-dropdown
        id="projectId"
        [options]="projectDTOList"
        formControlName="projectId"
        dataKey="id"
        inputId="id"
        placeholder="Select Project"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
        showClear="true"
      >
      </p-dropdown>
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('projectId').errors &&
          (getControl('projectId').dirty || getControl('projectId').touched)
        "
      >
        <p *ngIf="getControl('projectId').errors.required">
          Project is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="elementTypeId">Type</label>
      <p-dropdown
        id="elementTypeId"
        [options]="elementTypeDTOList"
        formControlName="elementTypeId"
        dataKey="id"
        inputId="id"
        placeholder="Select Type"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
        showClear="true"
      >
      </p-dropdown>
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('elementTypeId').errors &&
          (getControl('elementTypeId').dirty || getControl('elementTypeId').touched)
        "
      >
        <p *ngIf="getControl('elementTypeId').errors.required">
          Type is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        name="name"
        id="name"
        type="text"
        formControlName="name"
        style="width: 100%"
      />
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('name').errors &&
          (getControl('name').dirty || getControl('name').touched)
        "
      >
        <p *ngIf="getControl('name').errors.required">
          Name is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="floor">Floor</label>
      <input
        class="form-control"
        name="floor"
        id="floor"
        type="text"
        formControlName="floor"
        style="width: 100%"
      />
    </div>
  </form>
  <p-footer>
    <div class="btn-toolbar">
      <button
        class="btn btn-sm btn-success"
        type="button"
        [disabled]="elementForm.invalid"
        (click)="saveElement()"
      >
        <i class="pi pi-save">Save</i>
      </button>
      <button
        class="btn btn-sm btn-default"
        type="button"
        (click)="cancelElement()"
      >
        <i class="pi pi-times">Cancel</i>
      </button>
    </div>
  </p-footer>
</p-dialog>
