<!-- <div id="app">
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <h4>VME Precast</h4>
      </li>
      <li class="nav-item"> <a routerLink="/projectpage" class="nav-link">Project</a> </li>
      <li class="nav-item"> <a routerLink="/rawmaterialpage" class="nav-link">Raw Material</a> </li>
      <li class="nav-item"> <a routerLink="/company" class="nav-link">Company</a> </li>
      <li class="nav-item"> <a routerLink="/bankaccount" class="nav-link">Bank Account</a> </li>
      <li class="nav-item"> <a routerLink="/rawmaterialpage" class="nav-link">Casting</a> </li>
      <li class="nav-item"> <a routerLink="/rawmaterialpage" class="nav-link">Labour Rate</a> </li>
      <li class="nav-item"> <a routerLink="/rawmaterialpage" class="nav-link">Item Master</a> </li>
      <li class="nav-item"> <a routerLink="/rawmaterialpage" class="nav-link">Logistics</a> </li>
      <li class="nav-item"> <a routerLink="/rawmaterialpage" class="nav-link">Logistics Delivery</a> </li>
      <li class="nav-item"> <a routerLink="/report" class="nav-link">Report</a> </li>
      <li class="nav-item"> <a href="#" class="nav-link" (click)="logout()">Logout</a> </li>
    </ul>
  </nav>
</div> -->
<p-menubar [model]="items"></p-menubar>