<form [formGroup]="elementTypeSearchForm">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-4">
          <label>Project</label>
          <p-dropdown
            id="projectList"
            [options]="projectDTOList"
            formControlName="projectList"
            dataKey="id"
            inputId="id"
            placeholder="Select Project"
            optionLabel="name"
            appendTo="body"
            [style]="{ width: '100%', height: '40px' }"
            showClear="true"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-primary btn-sm btm-space float-right"
            (click)="getElementType()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<p-messages [(value)]="messages"></p-messages>

<cui-grid
  [values]="elementTypeDTOList"
  [options]="elementTypeOptions"
></cui-grid>

<p-dialog [(visible)]="elementTypeDialogVisibilty" [width]="500">
  <p-header>
    Create
  </p-header>
  <form [formGroup]="elementTypeForm">
    <div class="form-group">
      <label for="projectDTOId">Project</label>
      <p-dropdown
        id="projectDTOId"
        [options]="projectDTOList"
        formControlName="projectDTOId"
        dataKey="id"
        inputId="id"
        placeholder="Select Project"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
      >
      </p-dropdown>
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('projectDTOId').errors &&
          (getControl('projectDTOId').dirty || getControl('projectDTOId').touched)
        "
      >
        <p *ngIf="getControl('projectDTOId').errors.required">
          Project is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        name="name"
        id="name"
        type="text"
        formControlName="name"
        style="width: 100%"
      />
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('name').errors &&
          (getControl('name').dirty || getControl('name').touched)
        "
      >
        <p *ngIf="getControl('name').errors.required">
          Name is required
        </p>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="btn-toolbar">
      <button
        class="btn btn-sm btn-success"
        type="button"
        [disabled]="elementTypeForm.invalid"
        (click)="saveElementType()"
      >
        <i class="pi pi-save">Save</i>
      </button>
      <button
        class="btn btn-sm btn-default"
        type="button"
        (click)="cancelElementType()"
      >
        <i class="pi pi-times">Cancel</i>
      </button>
    </div>
  </p-footer>
</p-dialog>
