<form [formGroup]="partyMasterSearchForm">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Name</label>
          <input
            class="form-control"
            name="name"
            id="partyMasterNames"
            type="text"
            formControlName="names"
            style="width: 100%"
          />
        </div>
        <div class="form-group col-sm-6">
          <label>Type</label>
          <!-- <input
            class="form-control"
            name="type"
            id="partyMasterTypes"
            type="text"
            formControlName="types"
            style="width: 100%"
          /> -->
          <p-dropdown
            id="partyMasterTypes"
            [options]="partyTypes"
            formControlName="types"
            dataKey="id"
            inputId="id"
            placeholder="Select Type"
            optionLabel="name"
            appendTo="body"
            [style]="{ width: '100%', height: '40px' }"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-primary btn-sm btm-space float-right"
            (click)="searchPartyMaster()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<p-messages [(value)]="messages"></p-messages>

<cui-grid
  [values]="partyMasterDTOList"
  [options]="partyMasterOptions"
></cui-grid>

<p-dialog [(visible)]="partyMasterDialogVisibilty" [width]="500">
  <p-header>
    Create
  </p-header>
  <form [formGroup]="partyMasterForm">
    <div class="form-group">
      <label for="partyMasterName">Name</label>
      <input
        class="form-control"
        name="name"
        id="partyMasterName"
        type="text"
        formControlName="name"
      />
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('name').errors &&
          (getControl('name').dirty || getControl('name').touched)
        "
      >
        <p *ngIf="getControl('name').errors.required">Name is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="partyMasterType">Type</label>
      <p-dropdown
        id="partyMasterType"
        [options]="partyTypes"
        formControlName="type"
        dataKey="id"
        inputId="id"
        placeholder="Select Type"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
      >
      </p-dropdown>

      <!-- <input
        class="form-control"
        name="type"
        id="partyMasterType"
        type="text"
        formControlName="type"
      /> -->
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('type').errors &&
          (getControl('type').dirty || getControl('type').touched)
        "
      >
        <p *ngIf="getControl('type').errors.required">Type is required</p>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="btn-toolbar">
      <button
        class="btn btn-sm btn-success"
        type="button"
        [disabled]="partyMasterForm.invalid"
        (click)="savePartyMaster()"
      >
        <i class="pi pi-save">Save</i>
      </button>
      <button
        class="btn btn-sm btn-default"
        type="button"
        (click)="cancelPartyMaster()"
      >
        <i class="pi pi-times">Cancel</i>
      </button>
    </div>
  </p-footer>
</p-dialog>
