<form [formGroup]="mixtureSearchForm">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-4">
          <label>Name</label>
          <input
            class="form-control"
            name="nameList"
            id="nameList"
            type="text"
            formControlName="nameList"
            style="width: 100%"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-primary btn-sm btm-space float-right"
            (click)="getMixture()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<p-messages [(value)]="messages"></p-messages>

<cui-grid
  [values]="mixtureDTOList"
  [childValue]="mixtureItemDTOList"
  [options]="mixtureOptions"
></cui-grid>

<p-dialog [(visible)]="mixtureDialogVisibilty" [width]="500">
  <p-header>
    Create
  </p-header>
  <form [formGroup]="mixtureForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        name="name"
        id="name"
        type="text"
        formControlName="name"
        style="width: 100%"
      />
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('name').errors &&
          (getControl('name').dirty || getControl('name').touched)
        "
      >
        <p *ngIf="getControl('name').errors.required">
          Name is required
        </p>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="btn-toolbar">
      <button
        class="btn btn-sm btn-success"
        type="button"
        [disabled]="mixtureForm.invalid"
        (click)="saveMixture()"
      >
        <i class="pi pi-save">Save</i>
      </button>
      <button
        class="btn btn-sm btn-default"
        type="button"
        (click)="cancelMixture()"
      >
        <i class="pi pi-times">Cancel</i>
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="mixtureItemDialogVisibilty" [width]="500">
  <p-header>
    Create
  </p-header>
  <form [formGroup]="mixtureItemForm">
    <div class="form-group">
      <label for="name">Name</label>
      <!-- <input
        class="form-control"
        name="name"
        id="name"
        type="text"
        formControlName="rawMaterialName"
        style="width: 100%"
      /> -->
      <p-dropdown
        id="name"
        [options]="rawMaterialList"
        formControlName="rawMaterialName"
        dataKey="id"
        inputId="id"
        placeholder="Select Raw Material"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
        showClear="true"
      >
      </p-dropdown>
      <div
        class="form-control-feedback"
        *ngIf="
        getItemControl('rawMaterialName').errors &&
          (getItemControl('rawMaterialName').dirty ||
          getItemControl('rawMaterialName').touched)
        "
      >
        <p *ngIf="getItemControl('rawMaterialName').errors.required">
          Name is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input
        class="form-control"
        name="quantity"
        id="quantity"
        type="text"
        formControlName="quantity"
        style="width: 100%"
      />
      <div
        class="form-control-feedback"
        *ngIf="
        getItemControl('quantity').errors &&
          (getItemControl('quantity').dirty || getItemControl('quantity').touched)
        "
      >
        <p *ngIf="getItemControl('quantity').errors.required">
          Quantity is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="unit">Unit</label>
      <p-dropdown
        id="unit"
        [options]="unitList"
        formControlName="unit"
        dataKey="id"
        inputId="id"
        placeholder="Select Unit"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
        showClear="true"
      >
      </p-dropdown>
      <div
        class="form-control-feedback"
        *ngIf="
        getItemControl('unit').errors &&
          (getItemControl('unit').dirty || getItemControl('unit').touched)
        "
      >
        <p *ngIf="getItemControl('unit').errors.required">
          Unit is required
        </p>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="btn-toolbar">
      <button
        class="btn btn-sm btn-success"
        type="button"
        [disabled]="mixtureItemForm.invalid"
        (click)="saveMixtureItem()"
      >
        <i class="pi pi-save">Save</i>
      </button>
      <button
        class="btn btn-sm btn-default"
        type="button"
        (click)="cancelMixtureItem()"
      >
        <i class="pi pi-times">Cancel</i>
      </button>
    </div>
  </p-footer>
</p-dialog>
