<form [formGroup]="subContractorSearchForm">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-4">
          <label>Code</label>
          
        </div>
        <div class="form-group col-sm-4">
          <label>Status</label>
          <p-dropdown
            id="activeList"
            [options]="statusList"
            formControlName="activeList"
            dataKey="id"
            inputId="id"
            placeholder="Select Status"
            optionLabel="name"
            appendTo="body"
            [style]="{ width: '100%', height: '40px' }"
            showClear="true"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-primary btn-sm btm-space float-right"
            (click)="getSubContractor()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<p-messages [(value)]="messages"></p-messages>

<cui-grid
  [values]="subContractorDTOList"
  [options]="subContractorOptions"
></cui-grid>

<p-dialog [(visible)]="subContractorDialogVisibilty" [width]="500">
  <p-header>
    Create
  </p-header>
  <form [formGroup]="subContractorForm">
    <div class="form-group">
      <label for="companyName">Company</label>
      <p-dropdown
        id="companyName"
        [options]="companyDTOList"
        formControlName="companyId"
        dataKey="id"
        inputId="id"
        placeholder="Select Company"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
      >
      </p-dropdown>
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('companyId').errors &&
          (getControl('companyId').dirty || getControl('companyId').touched)
        "
      >
        <p *ngIf="getControl('companyId').errors.required">
          Company is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="accType">Account Type</label>
      <p-dropdown
        id="accType"
        [options]="accTypeList"
        formControlName="accountType"
        dataKey="id"
        inputId="id"
        placeholder="Select Account Type"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
      >
      </p-dropdown>
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('accountType').errors &&
          (getControl('accountType').dirty || getControl('accountType').touched)
        "
      >
        <p *ngIf="getControl('accountType').errors.required">
          Type is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="bank">Bank</label>
      <p-dropdown
        id="bank"
        [options]="bankList"
        formControlName="bankName"
        dataKey="id"
        inputId="id"
        placeholder="Select Bank"
        optionLabel="name"
        appendTo="body"
        [style]="{ width: '100%', height: '40px' }"
      >
      </p-dropdown>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        name="name"
        id="name"
        type="text"
        formControlName="accountName"
        style="width: 100%"
      />
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('accountName').errors &&
          (getControl('accountName').dirty || getControl('accountName').touched)
        "
      >
        <p *ngIf="getControl('accountName').errors.required">
          Name is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="accNo">Account No.</label>
      <input
        class="form-control"
        name="accNo"
        id="accNo"
        type="text"
        formControlName="accountNumber"
        style="width: 100%"
      />
    </div>
  </form>
  <p-footer>
    <div class="btn-toolbar">
      <button
        class="btn btn-sm btn-success"
        type="button"
        [disabled]="subContractorForm.invalid"
        (click)="saveSubContractor()"
      >
        <i class="pi pi-save">Save</i>
      </button>
      <button
        class="btn btn-sm btn-default"
        type="button"
        (click)="cancelSubContractor()"
      >
        <i class="pi pi-times">Cancel</i>
      </button>
    </div>
  </p-footer>
</p-dialog>