<form [formGroup]="subContractorSearchForm">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Code</label>
          <input
            class="form-control"
            name="code"
            id="code"
            type="text"
            formControlName="codeList"
            style="width: 100%"
          />
        </div>
        <div class="form-group col-sm-6">
          <label>Status</label>
          <p-dropdown
            id="activeList"
            [options]="statusList"
            formControlName="activeList"
            dataKey="id"
            inputId="id"
            placeholder="Select Status"
            optionLabel="name"
            appendTo="body"
            [style]="{ width: '100%', height: '40px' }"
            showClear="true"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-primary btn-sm btm-space float-right"
            (click)="getSubContractor()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<p-messages [(value)]="messages"></p-messages>

<cui-grid
  [values]="subContractorDTOList"
  [options]="subContractorOptions"
></cui-grid>

<p-dialog [(visible)]="subContractorDialogVisibilty" [width]="500">
  <p-header>
    Create
  </p-header>
  <form [formGroup]="subContractorForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        name="name"
        id="name"
        type="text"
        formControlName="name"
        style="width: 100%"
      />
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('name').errors &&
          (getControl('name').dirty || getControl('name').touched)
        "
      >
        <p *ngIf="getControl('name').errors.required">
          Name is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="code">Code</label>
      <input
        class="form-control"
        name="code"
        id="code"
        type="text"
        formControlName="code"
        style="width: 100%"
      />
      <div
        class="form-control-feedback"
        *ngIf="
          getControl('code').errors &&
          (getControl('code').dirty || getControl('code').touched)
        "
      >
        <p *ngIf="getControl('code').errors.required">
          Code is required
        </p>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="btn-toolbar">
      <button
        class="btn btn-sm btn-success"
        type="button"
        [disabled]="subContractorForm.invalid"
        (click)="saveSubContractor()"
      >
        <i class="pi pi-save">Save</i>
      </button>
      <button
        class="btn btn-sm btn-default"
        type="button"
        (click)="cancelSubContractor()"
      >
        <i class="pi pi-times">Cancel</i>
      </button>
    </div>
  </p-footer>
</p-dialog>
