<!-- <cui-grid [values]=purchaseOrderDTOList [options]=purchaseOrderOptions></cui-grid> -->

<p-table
  [value]="values"
  [columns]="options.columns"
  dataKey="id"
  autoLayout="true"
  [lazy]="true"
  (onLazyLoad)="gridService.lazyLoad(options)"
  [responsive]="true"
  [scrollable]="true"
  scrollHeight="500px"
  [paginator]="true"
  [rows]="10"
  totalRecords="100"
  pageLinkSize="3"
  (onPageChange)="paginate($event)"
  [rowsPerPageOptions]="[10, 20, 30]"
  alwaysShow="false"
  class="float-left"
  dropdownAppendTo="body"
  rowExpandMode="single"
>
  <ng-template #caption pTemplate="caption">
    <div class="clearfix">
      <h5 class="float-left">
        {{ options.caption }}
      </h5>
      <span class="float-right">
        <button
          *ngIf="options.exportCallback"
          class="btn btn-sm btn-default"
          type="button"
          (click)="options.exportCallback()"
        >
          <i class="pi pi-download"></i>
        </button>
        <button
          *ngIf="options.addCallback"
          class="btn btn-sm btn-success"
          type="button"
          (click)="options.addCallback()"
        >
          <i class="pi pi-plus">Add</i>
        </button>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <!-- <tr>
      <th *ngFor="let col of columns">
        {{col.name}}
      </th>
    </tr> -->

    <tr>
      <th style="width: 50px">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngIf="options.childGridOptions" style="width: 50px"></th>
      <th *ngFor="let column of columns" [style.width]="column.width">
        <span [ngStyle]="column.style">
          {{ column.name }}
        </span>
      </th>
      <th style="width: 100px;">Action</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-expanded="expanded"
    let-rowIndex="rowIndex"
    let-columns="columns"
  >
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td style="width: 50px">
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td *ngIf="options.childGridOptions" style="width: 50px">
        <a href="#" [pRowToggler]="rowData">
          <i
            [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></i>
        </a>
      </td>
      <td
        *ngFor="let column of options.columns"
        [style.width]="column.width"
        class="ui-resizable-column"
        [ngSwitch]="column.type"
      >
        <!-- <ng-template > -->
        <span *ngSwitchCase="'date'">{{
          gridService.getValue(rowData, column.index) | date
        }}</span>
        <p-checkbox
          *ngSwitchCase="'checkBox'"
          [ngModel]="gridService.getValue(rowData, column.index)"
          disabled="true"
          binary="true"
        >
        </p-checkbox>
        <!-- <p-dropdown *ngSwitchCase="'select'" [ngModel]="gridService.getValue(rowData,column.index)"
                      [options]="column.selectOptions" [style]="{'width':'100%'}" appendTo="body"
                      autoWidth="false" [disabled]="true"></p-dropdown> -->
        <span *ngSwitchDefault>
          {{ gridService.getValue(rowData, column.index) }}
        </span>
        <!-- </ng-template> -->
      </td>
      <td class="hoverable" style="width: 100px;">
        <span class="show-on-hover">
          <a
            *ngIf="options.editCallback"
            (click)="options.editCallback(rowData)"
            ><i class="pi pi-pencil"></i
          ></a>
          <a
            *ngIf="options.copyCallback"
            (click)="options.copyCallback(rowData)"
            ><i class="pi pi-clone"></i
          ></a>
          <a
            *ngIf="options.deleteCallback"
            (click)="options.deleteCallback(rowData)"
            ><i class="pi pi-trash"></i
          ></a>
          <ng-template [ngIf]="options.actions">
            <p-menu
              #menu
              [popup]="true"
              [model]="getActions(options, rowData)"
              appendTo="body"
            ></p-menu>
            <a (click)="menu.toggle($event)"
              ><i class="pi pi-angle-down"></i
            ></a>
          </ng-template>
        </span>
      </td>
    </tr>
    <!-- <tr>
      <td *ngFor="let column of columns">
        {{rowData[column.index]}}
      </td>
    </tr> -->
  </ng-template>
  <ng-template
    [ngIf]="options.childGridOptions"
    pTemplate="rowexpansion"
    let-rowData
    let-columns="columns"
  >
    <tr>
      <td></td>
      <td
        [attr.colspan]="gridService.getColSpan_childTable(options)"
        style="padding: 0%"
      >
        <cui-child-grid
          *ngIf="options.childGridOptions[0]"
          [values]="childValue"
          [options]="options.childGridOptions[0]"
          [parentValue]="rowData"
        ></cui-child-grid>
        <cui-child-grid
          *ngIf="options.childGridOptions[1]"
          [values]="childValue2"
          [options]="options.childGridOptions[1]"
          [parentValue]="rowData"
        ></cui-child-grid>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="gridService.getColSpan_emptyMsg(options)">
        No Records Found!!!
      </td>
    </tr>
  </ng-template>
</p-table>
